<md-dialog aria-label="{{pokemon.header.name}}" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{pokemon.header.name}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeDialog()">
                <md-icon md-svg-src="images/ic_close_24px.svg" aria-label="Fechar"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content flex>

        <div flex style="text-align: center;">
            <img style="margin: auto; max-width: 100%;" alt="{{pokemon.header.name}}" src="images/pokemons/{{pokemon.header.link}}">
        </div>

        <md-list flex>

            <md-list-item ng-repeat="(key, value) in pokemon.info" class="noright">

                <md-input-container flex>
                    <label>{{key}}</label>
                    <input value="{{ value }}" disabled>
                </md-input-container>
            </md-list-item>

            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Evoluções</h2>
                </div>
            </md-toolbar>

            <md-list flex>

                <md-list-item ng-repeat="evolution in pokemon.evolutions" class="noright">

                    <md-input-container>
                        <label>Level</label>
                        <input value="{{ evolution.lvl }}" disabled>
                    </md-input-container>
                    <md-input-container>
                        <label>Nome</label>
                        <input value="{{ evolution.name }}" disabled>
                    </md-input-container>

                </md-list-item>

            </md-list>

        </md-list>

    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="closeDialog()" style="margin-right:20px;">
            FECHAR
        </md-button>
    </md-dialog-actions>
</md-dialog>

